.property {
  width: 80px;
  height: 125px;
  border-color: #1a1a1a;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-right-width: 1px;
}

.corner {
}
