#root {
  /*height: 100vh;*/
  display: grid;
  grid-template-columns: auto 1188px auto;
}

.left {
  grid-row: 1 / 2;
}

.right {
  grid-row: 1 / 2;
}

.center {
  grid-row: 1;
  grid-column: 2;
  /*max-width: 100vh;*/
}

.board {
  /*max-height: 100vh;*/
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  display: grid;
  grid-template-columns: 150px repeat(9, 96px) 150px;
  grid-template-rows: 150px repeat(9, 96px) 150px;
  gap: 2px;
  width: 1188px;
  aspect-ratio: 1/1;
}
.board > .corner {
  background-color: #ffffff;
}
.row > div {
  background-color: #ffffff;
}
.row {
  background-color: #1a1a1a;
  gap: 2px;
}

.row-horizontal {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: repeat(9, 96px);
}

.row-horizontal > div {
}

.row-vertical {
  display: grid;
  grid-template-rows: repeat(9, 96px);
  grid-template-columns: 150px;
}

.row-vertical > div {
  align-self: center;
  justify-self: center;
}

.row-bottom {
  grid-column: 2 / 11;
  grid-row: 11;
}

.row-left {
  grid-column: 1;
  grid-row: 2 / 11;
}

.row-left > div {
  transform: rotate(90deg);
}

.row-top {
  grid-column: 2 / 11;
  grid-row: 1;
}

.row-top > div {
  transform: rotate(180deg);
}

.row-right {
  grid-column: 11;
  grid-row: 2 / 11;
}

.row-right > div {
  transform: rotate(-90deg);
}

.board-center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  background-color: #ffffff;
}

.field {
  width: 96px;
  height: 150px;
}
