@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc !important;
}

dialog {
  top: -40%;
  border: 0;
  border-radius: 0rem;
}
dialog:focus {
  outline: 0;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);

  /* @apply backdrop-blur; */
}

.background-blurred {
  @apply fixed top-0 left-0 w-screen h-screen bg-transparent backdrop-blur;
}

.position-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  @apply bg-white w-96 p-4;
}

.board {
  /*max-height: 100vh;*/
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  display: grid;
  grid-template-columns: 150px repeat(9, 96px) 150px;
  grid-template-rows: 150px repeat(9, 96px) 150px;
  gap: 2px;
  width: 1188px;
  aspect-ratio: 1/1;
}
.board > .corner {
  background-color: #ffffff;
}
.row > div {
  background-color: #ffffff;
}
.row {
  background-color: #1a1a1a;
  gap: 2px;
}

.row-horizontal {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: repeat(9, 96px);
}

.row-vertical {
  display: grid;
  grid-template-rows: repeat(9, 96px);
  grid-template-columns: 150px;
}

.row-vertical > div {
  align-self: center;
  justify-self: center;
}

.row-bottom {
  grid-column: 2 / 11;
  grid-row: 11;
}

.row-left {
  grid-column: 1;
  grid-row: 2 / 11;
}

.row-left > div {
  transform: rotate(90deg);
}

.row-top {
  grid-column: 2 / 11;
  grid-row: 1;
}

.row-top > div {
  transform: rotate(180deg);
}

.row-right {
  grid-column: 11;
  grid-row: 2 / 11;
}

.row-right > div {
  transform: rotate(-90deg);
}

.board-center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  background-color: #ffffff;
}

.field {
  width: 96px;
  height: 150px;
}
