@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc !important;
}

.card {
}

.background-blurred {
  @apply fixed top-0 left-0 w-screen h-screen bg-transparent backdrop-blur;
}

.position-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  @apply bg-white w-96 p-4;
}
